@font-face { 
  font-family: 'Comfortaa'; 
  src: url('./assets/Comfortaa/Comfortaa-VariableFont_wght.ttf'); 
}

@font-face { 
  font-family: 'Roboto Slab'; 
  src: url('./assets/Roboto-Slab/RobotoSlab-VariableFont_wght.ttf'); 
}


* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-family: 'Comfortaa', cursive;
}

:root {
  background-color: #fafafa;
  --header-color: purple;
  --color-note-redv1: #BF360C;
  --color-note-greenv1: #F1F8E9;
  --color-note-defaultv1: #F5F5F5;

}

body {
  margin: 0;
  min-height: 100vh;
}